{{#each erros}}
    <div class="alert alert-danger">
      {{text}}
    </div>
{{else}}
{{/each}}
<div class="card">
<form action="/admin/categorias/nova" method="POST">
  <div class="card text-center">
  <div class="form-group">
      <div class="card-header">
           <label for="nome">Nome</label>
  </div>
  <div class="card-body">
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da categoria">
  </div>
    
  </div>
  <div class="form-group">
        <div class="card-header">
           <label for="slug">Slug</label>
  </div>
    <div class="card-body">
    <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug da categoria">
  </div>
  </div>
  <div class="card-footer text-muted">
     <button type="submit" class="btn btn-info">Confirmar Adição</button>
  </div>
 </div>
</form>

</div>

